---
layout: default
title: Publications
permalink: publications
---

<!DOCTYPE HTML>
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Thomas Demeester</h2>
					<p>Machine Learning, Natural Language Processing</p>
                    <!--
					<ul class="actions">
						<li><a href="index.html" class="button big alt">Home</a></li>
						<li><a href="publications.html" class="button big alt">Publications</a></li>
						<li><a href="contact.html" class="button big alt">Contact</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#bibCS" class="button alt">Computer Science</a></li>
						<li><a href="#bibEE" class="button alt">Electrical Engineering</a></li>
					</ul>
					-->
				</div>
			</section>

        <!-- all publications -->
			<section id="bibCS" class="wrapper style1">
                <div class="container">
                    <header class="major">
                        <h2>Publications</h2>
                        <!--  <p>Natural Language Processing, Deep Learning, Information Retrieval</p>  -->
                        <p> Here are my publications, listed back in time.  In recent years, my focus has been on natural language processing,
                            machine learning and AI in general, including some neuro-symbolic work, and applications in health. 
                            Earlier on, there was information retrieval and extraction, and even before that, 
                            my Ph.D. research in computational electromagnetics.</p>
                        <p>My <a href="https://scholar.google.be/citations?user=x_0MCH4AAAAJ&hl=en">Google Scholar</a> page is probably the most up-to-date.</p>
                    </header>


                    {% assign pub_years = "2026,2025,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007" | split: "," %}
                    <ul class="actions">
                        {% for year in pub_years %}
                        <li><a href="#bib{{ year }}" class="button alt">{{ year }}</a></li>
                        {% endfor %}
                    </ul>



                    {% include biblio_all.html %}

                </div>
            </section>
        





        <!-- Links -->
        <!--
			<section id="publinks" class="wrapper style1">

                <div class="container">
                    <ul class="actions">
						<li><a href="https://scholar.google.be/citations?user=x_0MCH4AAAAJ&hl=en" class="button big special" target="_blank">Scholar</a></li>
					</ul>
        -->


