---
layout: default
title: Publications
permalink: publications
---

<!DOCTYPE HTML>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Thomas Demeester</h2>
					<p>Natural Language Processing, Deep Learning & AI</p>
					<ul class="actions">
						<li><a href="index.html" class="button big alt">Home</a></li>
						<li><a href="publications.html" class="button big alt">Publications</a></li>
						<li><a href="contact.html" class="button big alt">Contact</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#bibCS" class="button alt">Computer Science</a></li>
						<li><a href="#bibEE" class="button alt">Electrical Engineering</a></li>
					</ul>
				</div>
			</section>


        <!-- Links -->
			<section id="publinks" class="wrapper style1">

                <div class="container">
                    <ul class="actions">
						<li><a href="https://scholar.google.be/citations?user=x_0MCH4AAAAJ&hl=en" class="button big special" target="_blank">Scholar</a></li>
					</ul>

        
        <!-- Computer Science publications -->
			<section id="bibCS" class="wrapper style1">
                <div class="container">
                    <header class="major">
                        <h2>Publications in Computer Science</h2>
                        <p>Natural Language Processing, Deep Learning, Information Retrieval</p>
                        <ul class="actions">
                            <li><a href="#bibCS2018" class="button big alt">2018</a></li>
                            <li><a href="#bibCS2017" class="button big alt">2017</a></li>
                            <li><a href="#bibCS2016" class="button big alt">2016</a></li>
                            <li><a href="#bibCS2015" class="button big alt">2015</a></li>
                            <li><a href="#bibCS2014" class="button big alt">2014</a></li>
                            <li><a href="#bibCS2013" class="button big alt">2013</a></li>
                            <li><a href="#bibCS2012" class="button big alt">2012</a></li>
                            <li><a href="#bibCS2011" class="button big alt">2011</a></li>
                        </ul>
                    </header>

                    {% include biblio_CS.html %}

                </div>
            </section>
        

        
        <!-- Electrical engineering publications -->
			<section id="bibEE" class="wrapper style1">
                <div class="container">
                    <header class="major">
                        <h2>Publications in Electrical Engineering</h2>
                        <p>Computational Electromagnetics</p>
                        <ul class="actions">
                            <li><a href="#bibEE2016" class="button big alt">2016</a></li>
                            <li><a href="#bibEE2011" class="button big alt">2011</a></li>
                            <li><a href="#bibEE2010" class="button big alt">2010</a></li>
                            <li><a href="#bibEE2009" class="button big alt">2009</a></li>
                            <li><a href="#bibEE2008" class="button big alt">2008</a></li>
                            <li><a href="#bibEE2007" class="button big alt">2007</a></li>
                        </ul>
                    </header>

                    {% include biblio_EE.html %}
                    
                </div>
            </section>
        
