---
layout: default
---


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Thomas Demeester</h2>
					<p>Natural Language Processing, Deep Learning & AI</p>

				</div>
			</section>


		{% include bio.html %}




		<!-- Current PhD students -->
		<section id="current-phd-students" class="wrapper style2">
			<header class="major">
				<h2>PhD students</h2>
			</header>
			<div class="container">
				{% for student in site.data.phd_students.current %}
				<div class="phd-student">
					<div class="row">
						<div class="image rounded">
							<img src="{{ student.image }}" alt="" width="65"/>
						</div>
						<div class="phd-student-details">
							<h4>{{ student.name }}</h4>
							<div class="title">Topic: {{ student.topic }}</div>
							<div class="supervisors">Supervisors: {{ student.supervisors }}</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>


		<!-- Former PhD students -->
			<section id="former-phd-students" class="wrapper style1">
				<header class="major">
					<h2>Former PhD students</h2>
				</header>
				<div class="container">
					{% for student in site.data.phd_students.former %}
					<div class="phd-student">
						<div class="row">
							<div class="image rounded">
								<img src="{{ student.image }}" alt="" width="65"/>
							</div>
							<div class="phd-student-details">
								<h4>{{ student.name }}</h4>
								<div class="supervisors"><strong>Supervisors:&nbsp;</strong>{{ student.supervisors }}</div>
								<div class="title"><strong>Title:&nbsp;</strong><a href="{{ student.thesis_url }}">{{ student.thesis_title }}</a> ({{ student.date }})</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

			</section>
