---
---
<!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="6u">
                    <div class="row collapse-at-2">
                        <div class="0u">
                            <h3>Useful links</h3>
                            <ul class="alt">
                                <li><a href="#">Text to Knowledge research cluster</a> at <a href="#">IDLab</a>, <a href="#">Ghent University</a> - <a href="https://www.imec-int.com/en/home">imec</a></li>
                                <li><a href="https://www.lt3.ugent.be/">Language and Translation Technology Team</a> (LT3) at Ghent University</li>
                                <li><a href="http://emnlp2018.org/">EMNLP 2018</a>, <a href="http://www.conll.org/2018">CoNLL 2018</a>, <a href="https://nips.cc/">NIPS 2018</a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="copyright">
                <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            </ul>
        </div>
    </footer>
