		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="0u">
							<div class="row collapse-at-2">
								<div class="0u">
									<h3>Useful links</h3>
									<ul class="alt">
										{% for item in site.data.footer_links %}
										<li>{% if item.prefix %}{{ item.prefix }}{% endif %}<a href="{{ item.url }}">{{ item.label }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
                        </div>
					</div>
					<ul class="copyright">
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>
