		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="0u">
							<div class="row collapse-at-2">
								<div class="0u">
									<h3>Useful links</h3>
									<ul class="alt">
										<li> Research page of the <a href="https://ugentt2k.github.io/">Text to Knowledge (T2K) team</a></li>
                                        <li>The T2K team is part of the <a href="https://www.ugent.be/ea/idlab/en">Internet Technology and Data Science Lab (IDLab)</a>,
											<a href="https://www.ugent.be/en">Ghent University</a> - <a href="https://www.imec-int.com/en/home">imec</a></li>
                                        <li>The NLP research group <a href="https://www.lt3.ugent.be/">Language and Translation Technology Team</a> (LT3) at the Ghent University Faculty of Arts and Philosophy</li>
										<li>Current teaching: <a href="https://studiegids.ugent.be/2020/EN/studiefiches/E061340.pdf">Machine learning based NLP (E061340A)</a> (on <a href="https://ufora.ugent.be/d2l/home/225043">Ufora</a>) and
										<a href="https://studiegids.ugent.be/2020/EN/studiefiches/E031800.pdf">AI Research Seminar (E031800)</a> (on <a href="https://ufora.ugent.be/d2l/home/239878">Ufora</a>)
									</ul>
								</div>
							</div>
                        </div>						
					</div>
					<ul class="copyright">
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>
